{% extends "layout.twig" %}

{% block title %}{{ activity ? 'Edit activity'|trans : 'New activity'|trans }}{% endblock title %}

{% block stylesheets %}
{{ parent() }}

{% endblock stylesheets %}

{% block content %}

<h1>{{ activity ? 'Edit activity'|trans : 'New activity'|trans }}</h1>

    <input type="hidden" id="activity-id" value="{{ activity ? activity.id }}" />

<div class="row">
    <div class="col-xs-12 col-md-8">
        <label for="activity-title">{% trans "Name" %}</label>
        <input type="text" class="form-control" placeholder="{% trans "Name" %}"
               value="{{ activity.name ? activity.name }}" id="activity-title" />

        {% include 'partials/editor/wizard.twig' %}

        {% include 'partials/editor/activity_areas.twig' %}

        {% include 'partials/editor/suitable_groups.twig' %}
    </div><!-- /'left side' -->

    <div id="" class="sidebar col-xs-12 col-md-4">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
                {% include 'partials/editor/properties.twig' %}
            </div>

            <div class="col-xs-12 col-sm-6 col-md-12">
                {% include 'partials/editor/save.twig' %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}
{{ parent() }}

<script src="{{ componentsUrl }}/ckeditor/ckeditor.js"></script>
<script src="{{ assetsUrl }}/js/save-activity.js"></script>
<script src="{{ assetsUrl }}/js/list.js"></script>

<script type="text/javascript">

    $(".activity-property-edit").click(function() {
        $($(this).data("property-editor")).addClass("active");
        $(this).hide();
    });

    $(".activity-property-cancel").click(function() {
        $($(this).data("property-editor")).removeClass("active");
        $($(this).data("property-edit")).show();
    });


    $(".activity-prop-ok").click(function() {

        // set field
        var values = [];
        var checkedInputs = $('input[name='+$(this).data("prop-radio")+']:checked');
        checkedInputs.each(function(index) {
            values.push($(this).val());
        });
        $($(this).data("prop-field")).val(values.join(","));

        // set label
        var labels = [];
        checkedInputs.each(function(index) {
            labels.push($(this).data("prop-text"));
        });
        $($(this).data("prop-label")).text(labels.join(", "));

        // hide editor
        $($(this).data("prop-editor")).removeClass("active");

        $($(this).data("property-edit")).show();
    });

    $(document).ready(function() {
        if(window.location.hash) {
            if($(window.location.hash+".wizard-content").length > 0) {
                $(".wizard-label").removeClass("active");
                $(".wizard-content").removeClass("active");
                $(window.location.hash).addClass("active");
                $("li[data-wizard-tab="+window.location.hash.slice(1)+"]").addClass("active");

                // disable scrolling
                setTimeout(function() {
                    window.scrollTo(0, 0);
                }, 1);
            }
        }
    });




    $(".badge-selectors>li>label>input[type=checkbox]").change(function() {
        $(this).parent().parent().toggleClass("active");
    });


    $(".badge-selectors>li>label>input[type=checkbox]:checked").parent().parent().addClass("active");



    $(".wizard-label").click(function(e) {

        e.preventDefault();
        var hash = $(this).attr("data-wizard-tab");
        window.location.hash = "#"+hash;

        $(".wizard-label").removeClass("active");
        $(".wizard-content").removeClass("active");

        $(this).addClass("active");
        $("#"+$(this).attr("data-wizard-tab")).addClass("active");

        return false;
    });

    CKEDITOR.replace('activityElaboration', {
        height: 250,
        // Add plugins providing functionality popular in BBCode environment.
        extraPlugins: 'bbcode,smiley,font,colorbutton',
        // Remove unused plugins.
        removePlugins: 'filebrowser,format,horizontalrule,pastetext,pastefromword,scayt,showborders,stylescombo,table,tabletools,wsc',
        // Remove unused buttons.
        removeButtons: 'Anchor,BGColor,Font,Strike,Subscript,Superscript',
        // Width and height are not supported in the BBCode format, so object resizing is disabled.
        disableObjectResizing: true,
        // Define font sizes in percent values.
        fontSize_sizes: "30/30%;50/50%;100/100%;120/120%;150/150%;200/200%;300/300%",
        // Strip CKEditor smileys to those commonly used in BBCode.
        smiley_images: [
            'regular_smile.png', 'sad_smile.png', 'wink_smile.png', 'teeth_smile.png', 'tongue_smile.png',
            'embarrassed_smile.png', 'omg_smile.png', 'whatchutalkingabout_smile.png', 'angel_smile.png',
            'shades_smile.png', 'cry_smile.png', 'kiss.png'
        ],
        smiley_descriptions: [
            'smiley', 'sad', 'wink', 'laugh', 'cheeky', 'blush', 'surprise',
            'indecision', 'angel', 'cool', 'crying', 'kiss'
        ],
        skin: '../../ckeditor-skin-minimalist'
    });





    $("#save-button").click(function() {
        $("#save-button").attr("disabled", "disabled");
        $("#status-saving").show();
        console.log("clicked");
        $.ajax({
                    type: "POST",
                    url: "<?php echo RootURL(); ?>/ajax/activity-processor.php",
                    data: { action: "save", activity: updateActivity() }
                })
                .done(function( msg ) {
                    console.log( msg );
                    if (msg.status == 'OK') {
                        window.location.href = "<?php echo RootURL(); ?>/edit/"+msg.data.id+"/"+msg.data.slug;
                    } else {
                        alert("Saving failed...");
                    }

                })
                .fail(function (a, b) {
                    console.log("No luck..." + b);
                    alert("Saving failed...");
                    $("#save-button").removeAttr("disabled");
                });

    });


    $("#update-button").click(function() {
        $("#update-button").attr("disabled", "disabled");
        $("#status-saving").show();
        console.log("clicked");
        $.ajax({
                    type: "POST",
                    url: "<?php echo RootURL(); ?>/ajax/activity-processor.php",
                    data: { action: "save", activity: updateActivity() }
                })
                .done(function( msg ) {
                    console.log( msg );
                    if (msg.status == 'OK') {
                        $("#update-button").removeAttr("disabled");
                        $("#status-saving").hide();
                        $("#status-saved").show();
                        setTimeout(function() { $("#status-saved").fadeOut(); }, 2000);

                    } else {
                        $("#update-button").removeAttr("disabled");
                        $("#status-saving").hide();
                        alert("Saving failed...");
                    }
                })
                .fail(function (a, b) {
                    console.log("No luck..." + b);
                    $("#status-saving").hide();
                    alert("Saving failed...");
                    $("#update-button").removeAttr("disabled");
                });

    });

    </script>

{% endblock javascripts %}