{% extends "layout.twig" %}

{% block title %}{{ activity ? 'Edit activity'|trans : 'New activity'|trans }}{% endblock title %}

{% block stylesheets %}
{{ parent() }}
    <link href="{{ componentsUrl }}/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
    <link href="{{ componentsUrl }}/dropzone/dist/min/basic.min.css" rel="stylesheet" />

{% endblock stylesheets %}

{% block content %}

<h1>{{ activity ? 'Edit activity'|trans : 'New activity'|trans }}</h1>

    <input type="hidden" id="activity-id" value="{{ activity ? activity.id }}" />

<div class="row">
    <div class="col-xs-12 col-md-8">
        <label for="activity-title">{% trans "Name" %}</label>
        <input type="text" class="form-control" placeholder="{% trans "Name" %}"
               value="{{ activity.name ? activity.name }}" id="activity-title" />

        {% include 'partials/editor/wizard.twig' %}

        {% include 'partials/editor/activity_areas.twig' %}

        {% include 'partials/editor/suitable_groups.twig' %}
    </div><!-- /'left side' -->

    <div id="" class="sidebar col-xs-12 col-md-4">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
                {% include 'partials/editor/properties.twig' %}
            </div>

            <div class="col-xs-12 col-sm-6 col-md-12">
                {% include 'partials/editor/save.twig' %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}
{{ parent() }}

<script src="{{ componentsUrl }}/ckeditor/ckeditor.js"></script>
<script src="{{ componentsUrl }}/dropzone/dist/min/dropzone.min.js"></script>
<script src="{{ assetsUrl }}/js/list.js"></script>
<script src="{{ assetsUrl }}/js/editor.js"></script>

<script type="text/javascript">

    dropzoneInit = function() {
        // add existing files
        {% set count = 0 %}
        {% for item in activity.attachments %}
        var file{{ count }} = { name: "{{ item.name }}", size: {{ item.size }},
            url: "{{ path_for('api-attachment-get', {"activityId": activity.id,
                "attachmentId": item.id, "fileName": item.slug}) }}", id: {{ item.id }} };
        this.emit("addedfile", file{{ count }});
        {% set count = count + 1 %}
        {% endfor %}

        this.on("success", function(file, responseText) {
            {#var downloadButton = Dropzone.createElement("<button onclick=\"window.location.href=\'"+#}
            {#"{{ baseUrl }}/api/activity/{{ activity.id }}/attachment/"+responseText.id+#}
            {#"\'\" class='dz-download-button'>Download</button></a>");#}
            {#file.previewElement.appendChild(downloadButton);#}
            file.id = responseText.id;
        });

        this.on("removedfile", function(file) {
            console.log(file);
            $.ajax({
                url: baseUrl + '/api/activity/{{ activity.id }}/attachment/'+file.id,
                type: 'DELETE',
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
                }
            });
        });
    };

    Editor.init();





    $(document).ready(function() {
        if(window.location.hash) {
            if($(window.location.hash+".wizard-content").length > 0) {
                $(".wizard-label").removeClass("active");
                $(".wizard-content").removeClass("active");
                $(window.location.hash).addClass("active");
                $("li[data-wizard-tab="+window.location.hash.slice(1)+"]").addClass("active");

                // disable scrolling
                setTimeout(function() {
                    window.scrollTo(0, 0);
                }, 1);
            }
        }
    });




    $("#save-button").click(function() {
        Editor.save("{{ path_for('api-activity-post') }}");
    });


    $("#update-button").click(function() {
        Editor.update("{{ path_for('api-activity-put', {"id": activity.id}) }}");
    });

    </script>

{% endblock javascripts %}