{% extends "layout.twig" %}

{% block title %}{% trans "Explore" %}{% endblock title %}

{% block stylesheets %}
    <link href="{{ componentsUrl }}/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="{{ componentsUrl }}/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="{{ componentsUrl }}/bootstrap-rating/bootstrap-rating.css" media="all" rel="stylesheet">
    <link href="{{ componentsUrl }}/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" />

    {{ parent() }}
{% endblock stylesheets %}

{% block content %}
<h1>{% trans "Explore" %}</h1>

<div class="row">

    <div class="col-md-3">
        {% block explorer_filter %}
            {% include "partials/explorer/filter.twig" %}
        {% endblock %}
    </div>

    <div class="col-md-9">

        <table id="activity-table" class="display">
            <thead>
                <tr>
                    {% for column in searchColumns %}
                        <th>{{ column.name|trans }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tfoot>
                <tr>
                    {% for column in searchColumns %}
                        <th>{{ column.name|trans }}</th>
                    {% endfor %}
                </tr>
            </tfoot>

            <tbody>
                {% set levels = {0: 'Unspecified',
                1: 'Very low',
                2: 'Low',
                3: 'Medium',
                4: 'High',
                5: 'Very high'} %}
                {% set activityArea = enum.activityArea %}
                {% set groupType = enum.groupType %}
                {% for activity in activities %}
                    {% include "partials/explorer/entry.twig" %}
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>
{% endblock content %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ componentsUrl }}/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ componentsUrl }}/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="{{ componentsUrl }}/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="{{ componentsUrl }}/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="{{ componentsUrl }}/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="{{ componentsUrl }}/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script type="application/javascript" src="{{ componentsUrl }}/bootstrap-rating/bootstrap-rating.min.js"></script>
<script type="application/javascript" src="{{ componentsUrl }}/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="{{ assetsUrl }}/js/explorer.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
        var activityTable = $('#activity-table').DataTable( {
            "dom": '<"colvis"B><"table-top">t<"table-bottom"lip>',
            "order": [[ 0, "asc" ]],
            "columnDefs" : [
                {% set key = 0 %}
                {% for column in searchColumns %}
                {
                    "targets": {{ key }},
                    "visible": {{ column.visible ? "true" : "false" }},
                    "searchable": {{ column.searchable ? "true" : "false" }},
                    "orderable": {{ column.orderable ? "true" : "false" }}
                    {% set key = key + 1 %}
                },
                {% endfor %}
            ],
            "pageLength": 25,
            "buttons": ['colvis'],
            "language": {
                "sEmptyTable":     Translator.translate("No data available in table"),
                "sInfo":           Translator.translate("Showing _START_ to _END_ of _TOTAL_ entries"),
                "sInfoEmpty":      Translator.translate("Showing 0 to 0 of 0 entries"),
                "sInfoFiltered":   Translator.translate("(filtered from _MAX_ total entries)"),
                "sInfoPostFix":    "",
                "sInfoThousands":  "{% trans %},{% notes %}thousands separator{% endtrans %}",
                "sLengthMenu":     Translator.translate("Show _MENU_ entries"),
                "sLoadingRecords": Translator.translate("Loading..."),
                "sProcessing":     Translator.translate("Processing..."),
                "sSearch":         Translator.translate("Search"),
                "sZeroRecords":    Translator.translate("No matching records found"),
                "oPaginate": {
                    "sFirst":    Translator.translate("First"),
                    "sLast":     Translator.translate("Last"),
                    "sNext":     Translator.translate("Next"),
                    "sPrevious": Translator.translate("Previous")
                },
                "oAria": {
                    "sSortAscending":  ": " + Translator.translate("activate to sort column ascending"),
                    "sSortDescending": ": " + Translator.translate("activate to sort column descending")
                },
                "buttons": {
                    "colvis": Translator.translate("Change columns")
                }
            }
        });

        function tableApplyFilters() {
            $('.filter-item').removeClass('filtering');
            activityTable.draw();
        }

        $('#filter-term').keyup(function() {
            tableApplyFilters();
        });

        $(".slider").change(function() {
            tableApplyFilters();
        });

        $("#filter-groupsize-ignore").change(function() {
            tableApplyFilters();
        });

        $("input[name=filter-group]").change(function() {
            tableApplyFilters();
        });

        $("input[name=filter-category]").change(function() {
            tableApplyFilters();
        });

        $("input[name=filter-activityarea]").change(function() {
            tableApplyFilters();
        });

        $("#filter-author").change(function () {
            tableApplyFilters();
        });

        $("input[data-toggle=toggle]").change(function() {
            tableApplyFilters();
        });

        $(".filter-title, .filter-bar-title").click(function() {
            $(this).parent().toggleClass("active");
        });


        $(".slider.level").slider({
            tooltip: "always",
            tooltip_split: true,
            formatter: function(value) {
                {% set levels = {0: 'Unspecified',
                1: 'Very low',
                2: 'Low',
                3: 'Medium',
                4: 'High',
                5: 'Very high'} %} {# //TODO remove necessity for this #}
                var levels = [
                    "{{ levels[0]|trans }}",
                    "{{ levels[1]|trans }}",
                    "{{ levels[2]|trans }}",
                    "{{ levels[3]|trans }}",
                    "{{ levels[4]|trans }}",
                    "{{ levels[5]|trans }}"
                ];
                if (Array.isArray(value)) {
                    return String(levels[value[0]] + " - " + levels[value[1]]);
                } else {
                    return levels[value];
                }

            }
        });

        Explorer.init();

        // attach filtering method to the data table
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            return Explorer.filter(settings, data, dataIndex);
        });

    });




</script>
{% endblock javascripts %}