{% extends "layout.twig" %}

{% block title %}{% trans "Explore" %}{% endblock title %}

{% block stylesheets %}
{{ parent() }}

{% endblock stylesheets %}

{% block content %}
<h1>{% trans "Explore" %}</h1>

<div class="row">

    <div class="col-md-3">
        {% block explorer_filter %}
            {% include "partials/explorer_filter.twig" %}
        {% endblock %}
    </div>

    <div class="col-md-9">

        <table id="activity-table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {% for column in searchColumns %}
                        <th>{{ column.name|trans }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tfoot>
                <tr>
                    {% for column in searchColumns %}
                        <th>{{ column.name|trans }}</th>
                    {% endfor %}
                </tr>
            </tfoot>

            <tbody>
                {% set levels = {0: 'Unspecified',
                1: 'Very low',
                2: 'Low',
                3: 'Medium',
                4: 'High',
                5: 'Very high'} %}
                {% for activity in activities %}
                    <tr>
                        <td><a href="{{ urlFor('activity-view', {"id": activity.id, "slug": activity.slug}) }}">{{ activity.name }}</a></td>
                        {% set activityCategoriesNamed = [] %}
                        {% set activityCategories = [] %}
                        {% for category in activity.categories %}
                            {% set activityCategoriesNamed = activityCategoriesNamed|merge(category.name|e) %}
                            {% set activityCategories = activityCategories|merge(category.id) %}
                        {% endfor %}
                        <td>{{ activityCategoriesNamed|join(', ') }}</td>
                        <td>{{ activity.planning.totalDuration|int2time|raw }}</td>
                        <td>{{ activity.budget.totalCost|float2euro|raw }}</td>
                        <td>{{ levels[activity.difficulty.value]|trans }}</td>
                        <td>{{ levels[activity.guidance.value]|trans }}</td>
                        <td>{{ levels[activity.motivation.value]|trans }}</td>
                        <td><?php echo PublishStates::Text($activity->getPublish_state()); ?></td>
                        <td>placeholder</td>
                        <td>placeholder</td>
                        <td>{{ activity.creator.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



    </div>


</div>
{% endblock content %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="{{ componentsUrl }}/bootstrap-slider/bootstrap-slider.js"></script>

<script type="text/javascript">
    $(".filter-title, .filter-bar-title").click(function() {
        $(this).parent().toggleClass("active");
    });

    $(".slider.left:not(.time):not(.budget)").slider({
        tooltip: "show",
        selection: "left"
    });

    $(".slider.right:not(.time):not(.budget)").slider({
        tooltip: "show",
        selection: "right"
    });

    $(".slider.left.time").slider({
        tooltip: "show",
        selection: "left",
        formater: function(value) {
            var hours   = Math.floor(value/60);
            var minutes = String("00"+(value%60)).slice(-2);
            return hours+":"+minutes;
        }
    });

    $(".slider.right.time").slider({
        tooltip: "show",
        selection: "right",
        formater: function(value) {
            var hours   = Math.floor(value/60);
            var minutes = String("00"+(value%60)).slice(-2);
            return hours+":"+minutes;
        }
    });

    $(".slider.left.budget").slider({
        tooltip: "show",
        selection: "left",
        formater: function(value) {
            var euros = Math.floor(value);
            return "€ "+euros+".00";
        }
    });

    $(".slider.right.budget").slider({
        tooltip: "show",
        selection: "right",
        formater: function(value) {
            var euros = Math.floor(value);
            return "€ "+euros+".00";
        }
    });
</script>
{% endblock javascripts %}