{% extends "layout.twig" %}

{% block title %}{{ "Request new password"|trans }}{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .form-box {
            width: 360px;
            margin: 90px auto 0 auto;
        }

        .form-box .header {
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            -moz-border-radius-bottomright: 0;
            -moz-border-radius-bottomleft: 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background: #3d9970;
            box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
            padding: 20px 10px;
            text-align: center;
            font-size: 26px;
            font-weight: 300;
            color: #fff;
        }
        .form-box .body,
        .form-box .footer {
            padding: 10px 20px;
            background: #fff;
            color: #444;
        }
        .form-box .body > .form-group,
        .form-box .footer > .form-group {
            margin-top: 20px;
        }
        .form-box .body > .form-group > input,
        .form-box .footer > .form-group > input {
            border: #fff;
        }
        .form-box .body > .btn,
        .form-box .footer > .btn {
            margin-bottom: 10px;
        }
        .form-box .footer {
            -webkit-border-top-left-radius: 0;
            -webkit-border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-radius-topleft: 0;
            -moz-border-radius-topright: 0;
            -moz-border-radius-bottomright: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        @media (max-width: 767px) {
            .form-box {
                width: 90%;
            }
        }

        body {
            background-color: #2C3E50;
        }

        .btn-primary {
            background-color: #3d9970;
        }

        .body {
            background-color: #eaeaec !important;
        }

        #footer {
            background-color: #2C3E50;
        }

        #footer .text-muted {
            color: #eaeaec;
        }

        .bg-danger {
            background-color: #f2dede;
        }

        .bg-success {
            background-color: #dff0d8;
        }

        .info {
            padding: 15px;
            color: #3c763d;
        }

        .login-nav {
            margin-top: 2em;
            color: white;
            display: block;
        }

    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="form-box" id="login-box">
        <div class="header">{{ "Request new password"|trans }}</div>
        <form action="{{ path_for('forgot-password') }}" method="post">
            <div class="body">
                {% if login.infos is defined %}
                    {% for info in login.infos %}
                        <p class="bg-success info">{{ info.message|e }}</p>
                    {% endfor %}
                {% endif %}

                {% if login.errors is defined %}
                    {% for error in login.errors %}
                        <p class="bg-danger error">{{ error.message|e }}</p>
                    {% endfor %}
                {% endif %}

                {% if login.errors is not defined or login.errors|length != 0 %}

                <div class="form-group">
                    <input type="text" id="email" name="email" class="form-control" placeholder="{{ "Email"|trans }}" value="{{ login.username|e }}" />
                </div>

                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="{{ recaptchaSiteKey }}"></div>
                </div>

                {% endif %}

            </div>
            <div class="footer">
                {% if login.errors is not defined or login.errors|length != 0 %}
                    <button type="submit" class="btn btn-primary btn-block">{{ "Send me an email with instructions"|trans }}</button>
                {% endif %}
            </div>
        </form>
        <a href="{{ path_for('login-form') }}" class="login-nav"><span class="glyphicon glyphicon-arrow-left"></span>{{ "Back to login form"|trans }}</a>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock javascripts %}