{% extends "layout.twig" %}

{% block title %}{{ activity.name }}{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

{% endblock stylesheets %}

{% block content %}

    <div class="container content">

        <h1>{{ activity.name }}</h1>

        <div class="row">
            <div class="col-xs-12 col-md-8">

                <h3 class="activity-section">
                    {{ "Elaboration"|trans }}
                    <span>
                        <a href="{{ urlFor('activity-edit', {"id": activity.id, "slug": activity.slug}) }}#elaboration"
                           class="hidden-print">
                            {{ "Edit"|trans }}
                        </a>
                    </span>
                </h3>
                {{ activity.elaboration|bb2Html|raw }}


                <h3 class="activity-section">
                    {{ "Planning"|trans }}
                    <span>
                        <a href="{{ urlFor('activity-edit', {"id": activity.id, "slug": activity.slug}) }}#planning"
                           class="hidden-print">
                            {{ "Edit"|trans }}
                        </a>
                    </span>
                </h3>
                <ul class="list">
                    {% set planningTimeCumulative = 0 %}
                    {% for action in activity.planning.actions %}
                        <li>
                            <span>{{ action.timeSpan|int2time }}</span>
                            {% set planningTimeCumulative = planningTimeCumulative + action.timeSpan %}
                            <span>{{ planningTimeCumulative|int2time }}</span>
                            <span>{{ action.description }}</span>
                        </li>
                    {% endfor %}
                </ul>

                <div id="activity-planning-graph" class="time-graph" style="position: relative; margin: inherit;">
                    {% set count = 0 %}
                    {% for action in activity.planning.actions %}
                        {% set percent = (action.timeSpan / planningTimeCumulative) * 100 %}
                        <div class="bg-accent-{{ count % 5 }}" style="width: {{ percent }}%"
                             title="{{ action.description }} ({{ percent|round }}%)">
                            <span style="width: {{ percent }}%;">{{ action.description }}</span></div>
                        {% set count = count + 1 %}
                    {% endfor %}
                </div>

                <h3 class="activity-section">
                    {{ "Preparations"|trans }}
                    <span>
                        <a href="{{ urlFor('activity-edit', {"id": activity.id, "slug": activity.slug}) }}#preparations"
                           class="hidden-print">
                            {{ "Edit"|trans }}
                        </a>
                    </span>
                </h3>
                <ul class="list">
                    {% for item in activity.checklist.items %}
                        <li>
                            <input type="checkbox" disabled="disabled">
                            <span>{{ item.description }}</span>
                        </li>
                    {% endfor %}
                </ul>


                <h3 class="activity-section">
                    {{ "Materials"|trans }}
                    <span>
                        <a href="{{ urlFor('activity-edit', {"id": activity.id, "slug": activity.slug}) }}#materials"
                           class="hidden-print">
                            {{ "Edit"|trans }}
                        </a>
                    </span>
                </h3>
                <ul class="list">
                    {% for material in activity.materials.materials %}
                        <li>
                            <span>{{ material.amount }}</span>
                            <span>{{ material.description }}</span>
                        </li>
                    {% endfor %}
                </ul>

                <h3 class="activity-section">
                    {{ "Budgetary"|trans }}
                    <span>
                        <a href="{{ urlFor('activity-edit', {"id": activity.id, "slug": activity.slug}) }}#budgetary"
                           class="hidden-print">
                            {{ "Edit"|trans }}
                        </a>
                    </span>
                </h3>
                <ul class="list">
                    {% set budgetTotal = 0 %}
                    {% for item in activity.budget.expenses %}
                        <li>
                            <span>{{ item.amount }}</span>
                            <span class="list-name" style="display: inline-block; width: 60%;">{{ item.description }}</span>
                            <span class="list-price" style="display: inline-block;">{{ item.cost|float2euro|raw }}</span>
                            {% set subtotal = item.cost * item.amount %}
                            <span class="list-price-sum">{{ subtotal|float2euro|raw }}</span>
                            {% set budgetTotal = budgetTotal + subtotal %}
                        </li>
                    {% endfor %}
                    <li class="list-total">{{ "Total"|trans }}
                        <span class="list-total-value">{{ budgetTotal|float2euro|raw }}</span>
                    </li>
                </ul>

                <h3 class="activity-section">
                    {{ "Attachments"|trans }}
                    <span>
                        <a href="{{ urlFor('activity-edit', {"id": activity.id, "slug": activity.slug}) }}#attachments"
                           class="hidden-print">
                            {{ "Edit"|trans }}
                        </a>
                    </span>
                </h3>
                <ul class="list">
                    {% for item in activity.attachments %}
                        <li>
                            <a href="{{ urlFor('api-attachment-get', {"activityId": activity.id,
                                "attachmentId": item.id, "fileName": item.slug}) }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div>

            <div class="sidebar col-xs-12 col-md-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="sidebar-item hidden-print">
                            <h3 class="sidebar-title">
                                {{ "Actions"|trans }}
                            </h3>
                            <div class="sidebar-content">
                                <p>
                                    <a href="{{ urlFor('activity-edit', {"id": activity.id, "slug": activity.slug}) }}"
                                       style="color: #000; margin: 5px;">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <strong>{{ "Edit activity"|trans }}</strong>
                                    </a>
                                </p>
                                <p>
                                    <a href="javascript:window.print(); " style="color: #000; margin: 5px;">
                                        <span class="glyphicon glyphicon-print"></span>
                                        {{ "Print activity"|trans }}
                                    </a>
                                </p>
                                <p>
                                    <a href="{{ urlFor('api-activity-get-pdf', {"id": activity.id}) }}" style="color: #000; margin: 5px;">
                                        <span class="glyphicon glyphicon-download"></span>
                                        {{ "Download PDF"|trans }}
                                    </a>
                                </p>
                                <hr />
                                <a href="javascript:void(0);" style="color: #f00; margin: 5px;"><span class="glyphicon glyphicon-trash"></span>{{ "Delete activity"|trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="sidebar-item">
                            <h3 class="sidebar-title">
                                {{ "Properties"|trans }}
                            </h3>

                            {% set levels = {0: 'Unspecified',
                            1: 'Very low',
                            2: 'Low',
                            3: 'Medium',
                            4: 'High',
                            5: 'Very high'} %}

                            <div class="sidebar-content">
                                <p>
                                    {% set activityCategoriesNamed = [] %}
                                    {% set activityCategories = [] %}
                                    <span class="glyphicon glyphicon-inbox"></span>{{ "Category"|trans }}:
                                    <span class="activity-property editable" id="activity-prop-category-label">
                                        {% if activity.categories|length > 0 %}
                                            {% for category in activity.categories %}
                                                {% set activityCategoriesNamed = activityCategoriesNamed|merge(category.name|e) %}
                                                {% set activityCategories = activityCategories|merge(category.id) %}
                                            {% endfor %}
                                            {{ activityCategoriesNamed|join(', ') }}
                                        {% else %}
                                            {{ "No category"|trans }}
                                        {% endif %}
                                    </span>
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-flash"></span>{{ "Difficulty"|trans }}:
                                    <span class="activity-property" id="activity-prop-difficulty-label">
                                        {{ levels[activity.difficulty.value]|trans }}
                                    </span>
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-eye-open"></span>{{ "Guidance"|trans }}:
                                    <span class="activity-property editable" id="activity-prop-guidance-label">
                                        {{ levels[activity.guidance.value]|trans }}
                                    </span>
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-heart"></span>{{ "Motivation"|trans }}:
                                    <span class="activity-property editable" id="activity-prop-motivation-label">
                                        {{ levels[activity.motivation.value]|trans }}
                                    </span>
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-user"></span>{{ "Group size"|trans }}:
                                    <span class="activity-property editable" id="activity-prop-motivation-label">
                                        {% if activity.groupSizeMin is null %}
                                            {{ "Unspecified"|trans }}
                                        {% else %}
                                            {% if activity.groupSizeMax is null %}
                                                {{ activity.groupSizeMin }} {{ "or more participants"|trans }}
                                            {% else %}
                                                {{ activity.groupSizeMin }} - {{ activity.groupSizeMax }}
                                                {{ "participants"|trans }}
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-time"></span>{{ "Duration"|trans }}:
                                    <span class="activity-property uneditable" id="activity-prop-duration-label">
                                        {{ activity.planning.totalDuration|int2time }}
                                    </span>
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-euro"></span>{{ "Budget"|trans }}:
                                    <span class="activity-property uneditable" id="activity-prop-budget-label">
                                        {{ activity.budget.totalCost|float2euro|raw }}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="sidebar-item">
                            <h3 class="sidebar-title">
                                {{ "Suitable groups"|trans }}
                            </h3>

                            <div class="sidebar-content">
                                {% set groupType = enum.groupType %}
                                <ul class="badge-selectors">
                                    {% if groupType.Bevers in activity.suitableGroupsRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/scouting-groups/bevers.png" class="badge-selectors-img" />{{ "Bevers"|trans }}</label></li>
                                    {% endif %}
                                    {% if groupType.Welpen in activity.suitableGroupsRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/scouting-groups/welpen.png" class="badge-selectors-img" />{{ "Welpen"|trans }}</label></li>
                                    {% endif %}
                                    {% if groupType.Scouts in activity.suitableGroupsRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/scouting-groups/scouts.png" class="badge-selectors-img" />{{ "Scouts"|trans }}</label></li>
                                    {% endif %}
                                    {% if groupType.Explorers in activity.suitableGroupsRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/scouting-groups/explorers.png" class="badge-selectors-img" />{{ "Explorers"|trans }}</label></li>
                                    {% endif %}
                                    {% if groupType.Roverscouts in activity.suitableGroupsRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/scouting-groups/roverscouts.png" class="badge-selectors-img" />{{ "Roverscouts"|trans }}</label></li>
                                    {% endif %}
                                    {% if groupType.Plusscouts in activity.suitableGroupsRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/scouting-groups/plusscouts.png" class="badge-selectors-img" />{{ "Plusscouts"|trans }}</label></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="sidebar-item">
                            <h3 class="sidebar-title">
                                {{ "Activity areas"|trans }}
                            </h3>

                            <div class="sidebar-content">
                                {% set activityArea = enum.activityArea %}
                                <ul class="badge-selectors line-3">
                                    {% if activityArea.ChallengingScoutingTechniques in activity.activityAreasRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/activity-areas/challenging-scouting-techniques.png" class="badge-selectors-img" />{{ "Challenging Scouting Techniques"|trans }}</label></li>
                                    {% endif %}
                                    {% if activityArea.Expression in activity.activityAreasRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/activity-areas/expression.png" class="badge-selectors-img" />{{ "Expression"|trans }}</label></li>
                                    {% endif %}
                                    {% if activityArea.SportsAndGames in activity.activityAreasRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/activity-areas/sports-and-games.png" class="badge-selectors-img" />{{ "Sports and Games"|trans }}</label></li>
                                    {% endif %}
                                    {% if activityArea.OutdoorLife in activity.activityAreasRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/activity-areas/outdoor-life.png" class="badge-selectors-img" />{{ "Outdoor life"|trans }}</label></li>
                                    {% endif %}
                                    {% if activityArea.Identity in activity.activityAreasRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/activity-areas/identity.png" class="badge-selectors-img" />{{ "Identity"|trans }}</label></li>
                                    {% endif %}
                                    {% if activityArea.International in activity.activityAreasRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/activity-areas/international.png" class="badge-selectors-img" />{{ "International"|trans }}</label></li>
                                    {% endif %}
                                    {% if activityArea.Society in activity.activityAreasRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/activity-areas/society.png" class="badge-selectors-img" />{{ "Society"|trans }}</label></li>
                                    {% endif %}
                                    {% if activityArea.SafeAndHealthy in activity.activityAreasRaw %}
                                        <li class="active"><label><input type="checkbox" name="activity-badge-selectors" checked /><img src="{{ assetsUrl }}/img/activity-areas/safe-and-healthy.png" class="badge-selectors-img" />{{ "Safe and Healthy"|trans }}</label></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


{% endblock content %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}