<div class=" pull-right">
    <ul class="nav navbar-nav navbar-right" id="account-menu">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ assetsUrl }}/img/scouting-groups/{{ session.user.team.type.value }}.png"  class="account-image-bar" />
            <div class="account-information">
                <span class="account-name">{{ session.user.firstName }} {{ session.user.lastName }}</span><br/>
                <span class="account-teamname">{{ session.user.team.name }}</span>
            </div>
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="navbar-content">
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <img src="{{ assetsUrl }}/img/scouting-groups/{{ session.user.team.type.value }}.png" alt="Alternate Text" class="img-responsive account-image-menu" />
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <span>{{ session.user.firstName }} {{ session.user.lastName }}</span>
                                <p class="text-muted small">
                                    {{ session.user.email }}</p>
                                <p class="text-muted small">
                                    {{ session.user.team.name }}<br />
                                    {{ session.user.team.organization.name }}</p>
                                <div class="divider">
                                </div>
                                <a href="#" class="btn btn-primary btn-sm active">{% trans "View profile" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-footer">
                        <div class="navbar-footer-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a href="#" class="btn btn-default btn-sm">{% trans "Settings" %}</a>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <a href="{{ urlFor('logout') }}" class="btn btn-default btn-sm pull-right">{% trans "Sign out" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>