<div class="filter-bar">
    <h3 class="filter-bar-title"><span class="glyphicon chevron"></span>{% trans "Filters" %}</h3>
    <div class="filter-bar-content">
        <div class="filter-item active">
            <h3 class="filter-title"><span class="glyphicon chevron"></span>{% trans "Keyword" %}</h3>
            <div class="filter-content">
                <input id="filter-term" class="form-control" type="text" placeholder="{% trans "Narrow results" %}" />
            </div>
        </div>
        <div class="filter-item active">
            <h3 class="filter-title"><span class="glyphicon chevron"></span>{% trans "Category" %}</h3>
            <div class="filter-content">
                {% for category in session.user.team.organization.categories %}
                    <div class="radio">
                        <label>
                            <input type="checkbox" name="filter-category" data-filter-text="{{ category.name }}">
                            {{ category.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="filter-item active">
            <h3 class="filter-title"><span class="glyphicon chevron"></span><span class="glyphicon glyphicon-time"></span>{% trans "Duration" %}</h3>
            {% set durations = [] %}
            {% for activity in activities %}
                {% set durations = durations|merge([activity.planning.totalDuration]) %}
            {% endfor %}
            <div class="filter-content">
                <input id="filter-duration" class="slider time" type="text" data-slider-min="{{ min(durations) }}"
                       data-slider-max="{{ max(durations) }}" data-slider-step="1"
                       data-slider-value="[{{ min(durations) }},{{ max(durations) }}]"/>
                {#<input type="hidden" value="" />#}
                <span class="slider-left">{{ min(durations)|int2time }}</span>
                <span class="slider-right">{{ max(durations)|int2time }}</span>
            </div>
        </div>
        <div class="filter-item active">
            <h3 class="filter-title"><span class="glyphicon chevron"></span>{% trans "Budgetary" %}</h3>
            {% set budgets = [] %}
            {% for activity in activities %}
                {% set budgets = budgets|merge([activity.budget.totalCost]) %}
            {% endfor %}
            <div class="filter-content">
                <input id="filter-budget" class="slider budget" type="text" data-slider-min="{{ min(budgets) }}"
                       data-slider-max="{{ max(budgets) }}" data-slider-step="1"
                       data-slider-value="[{{ min(budgets) }},{{ max(budgets) }}]" />
                <span class="slider-left">{{ min(budgets)|float2euro|raw }}</span>
                <span class="slider-right">{{ max(budgets)|float2euro|raw }}</span>
            </div>
        </div>
        <div class="filter-item active">
            <h3 class="filter-title"><span class="glyphicon chevron"></span>{% trans "Difficulty" %}</h3>
            <div class="filter-content">
                <input id="filter-difficulty" class="slider level" type="text"
                       data-slider-min="{{ enum.level.Unspecified }}" data-slider-max="{{ enum.level.VeryHigh }}"
                       data-slider-step="1"
                       data-slider-value="[{{ enum.level.Unspecified }},{{ enum.level.VeryHigh }}]" />
                <span class="slider-left">{% trans "Very low" %}</span>
                <span class="slider-right">{% trans "Very high" %}</span>
            </div>
        </div>
        <div class="filter-item active">
            <h3 class="filter-title"><span class="glyphicon chevron"></span>{% trans "Guidance" %}</h3>
            <div class="filter-content">
                <input id="filter-guidance" class="slider level" type="text"
                       data-slider-min="{{ enum.level.Unspecified }}" data-slider-max="{{ enum.level.VeryHigh }}"
                       data-slider-step="1"
                       data-slider-value="[{{ enum.level.Unspecified }},{{ enum.level.VeryHigh }}]" />
                <span class="slider-left">{% trans "Very low" %}</span>
                <span class="slider-right">{% trans "Very high" %}</span>
            </div>
        </div>
        <div class="filter-item active">
            <h3 class="filter-title"><span class="glyphicon chevron"></span>{% trans "Motivation" %}</h3>
            <div class="filter-content">
                <input id="filter-motivation" class="slider level" type="text"
                       data-slider-min="{{ enum.level.Unspecified }}" data-slider-max="{{ enum.level.VeryHigh }}"
                       data-slider-step="1"
                       data-slider-value="[{{ enum.level.Unspecified }},{{ enum.level.VeryHigh }}]" />
                <span class="slider-left">{% trans "Very low" %}</span>
                <span class="slider-right">{% trans "Very high" %}</span>
            </div>
        </div>
        <div class="filter-item active">
            <h3 class="filter-title"><span class="glyphicon chevron"></span>{% trans "Group size" %}</h3>
            <div class="filter-content">
                <label class="checkbox-inline">
                    <input type="checkbox" id="filter-groupsize-ignore" class="" checked />{{ "Show all"|trans }}</label>
                <input id="filter-groupsize" class="slider logarithmic" type="text" data-slider-min="1"
                       data-slider-max="200" data-slider-value="1" />
                <span class="slider-left">1</span>
                <span class="slider-right">200</span>
            </div>
        </div>
        <div class="filter-item">
            <h3 class="filter-title"><span class="glyphicon chevron"></span>{% trans "Activity areas" %}</h3>
            <div class="filter-content">

            </div>
        </div>
        <div class="filter-item">
            <h3 class="filter-title"><span class="glyphicon chevron"></span>{% trans "Suitable groups" %}</h3>
            <div class="filter-content">
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Forest game" value="1" >
                        Bevers
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Indoors" value="2" >
                        Welpen
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Technique" value="3" >
                        Scouts
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Game" value="4" >
                        Explorers
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Extraordinary" value="5" >
                        Roverscouts
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio" data-prop-text="Special occasion" value="6" >
                        Plusscouts
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>