<div class="sidebar-item">
    <h3 class="sidebar-title" id="activityareas">
        {% trans "Activity areas" %}
    </h3>
    <div class="sidebar-content">
        <ul class="badge-selectors line-3">
            {% set activityArea = enum.activityArea %}
            <li>
                <label>
                    <input type="checkbox" value="{{ activityArea.ChallengingScoutingTechniques }}"
                           name="activity-badge-selectors"
                           {{ activity ? ( activityArea.ChallengingScoutingTechniques in activity.activityAreasRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/activity-areas/challenging-scouting-techniques.png" class="badge-selectors-img" />
                    {% trans "Challenging Scouting Techniques" %}
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ activityArea.Expression }}"
                           name="activity-badge-selectors"
                           {{ activity ? ( activityArea.Expression in activity.activityAreasRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/activity-areas/expression.png" class="badge-selectors-img" />
                    {% trans "Expression" %}
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ activityArea.SportsAndGames }}"
                           name="activity-badge-selectors"
                           {{ activity ? ( activityArea.SportsAndGames in activity.activityAreasRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/activity-areas/sports-and-games.png" class="badge-selectors-img" />
                    {% trans "Sports and Games" %}
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ activityArea.OutdoorLife }}"
                           name="activity-badge-selectors"
                           {{ activity ? ( activityArea.OutdoorLife in activity.activityAreasRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/activity-areas/outdoor-life.png" class="badge-selectors-img" />
                    {% trans "Outdoor life" %}
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ activityArea.Identity }}"
                           name="activity-badge-selectors"
                           {{ activity ? ( activityArea.Identity in activity.activityAreasRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/activity-areas/identity.png" class="badge-selectors-img" />
                    {% trans "Identity" %}
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ activityArea.International }}"
                           name="activity-badge-selectors"
                           {{ activity ? ( activityArea.International in activity.activityAreasRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/activity-areas/international.png" class="badge-selectors-img" />
                    {% trans "International" %}
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ activityArea.Society }}"
                           name="activity-badge-selectors"
                           {{ activity ? ( activityArea.Society in activity.activityAreasRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/activity-areas/society.png" class="badge-selectors-img" />
                    {% trans "Society" %}
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ activityArea.SafeAndHealthy }}"
                           name="activity-badge-selectors"
                           {{ activity ? ( activityArea.SafeAndHealty in activity.activityAreasRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/activity-areas/safe-and-healthy.png" class="badge-selectors-img" />
                    {% trans "Safe and Healthy" %}
                </label>
            </li>
        </ul>
    </div>
</div><!-- /.sidebar-item -->