<div class="sidebar-item">
    <h3 class="sidebar-title">
        Properties
    </h3>
    {% set levels = {0: 'Unspecified',
    1: 'Very low',
    2: 'Low',
    3: 'Medium',
    4: 'High',
    5: 'Very high'} %}
    {% set activityCategoriesNamed = [] %}
    {% set activityCategories = [] %}
    <div class="sidebar-content">
        <p>
            <span class="glyphicon glyphicon-inbox"></span>Category:
                            <span class="activity-property editable" id="activity-prop-category-label">
                                {% if activity is defined %}
                                    {% for category in activity.categories %}
                                        {% set activityCategoriesNamed = activityCategoriesNamed|merge(category.name|e) %}
                                        {% set activityCategories = activityCategories|merge(category.id) %}
                                    {% endfor %}
                                    {{ activityCategoriesNamed|join(', ') }}
                                {% else %}
                                    No category
                                {% endif %}
                            </span>
            <a href="javascript:void(0);" id="activity-prop-category-edit" class="activity-property-edit"
               data-property-editor="#activity-prop-category-editor">Edit</a>
        </p>
        <div class="activity-property-editor" id="activity-prop-category-editor">
            {% for category in session.user.team.organization.categories %}
                <div class="check">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio"
                               data-prop-text="{{ category.name|e }}"
                               value="{{ category.id }}"
                                {{ activity ? ( category in activity.categories ? 'checked' ) }} >
                        {{ category.name }}
                    </label>
                </div>
            {% endfor %}
            <input type="hidden" value="{{ activityCategories|join(',') }}" id="activity-prop-category"/>
            <button class="btn btn-default btn-sm activity-prop-ok" data-property-type="radio"
                    data-prop-editor="#activity-prop-category-editor" data-prop-radio="activity-prop-category-radio"
                    data-prop-label="#activity-prop-category-label" data-prop-field="#activity-prop-category"
                    data-property-edit="#activity-prop-category-edit">OK
            </button>
            <a href="javascript:void(0);" class="activity-property-cancel"
               data-property-editor="#activity-prop-category-editor"
               data-property-edit="#activity-prop-category-edit">Cancel</a>
        </div>
        <p>
            <span class="glyphicon glyphicon-flash"></span>Difficulty:
                            <span class="activity-property editable" id="activity-prop-difficulty-label">
                                {{ activity ? levels[activity.difficulty.value] : 'Unspecified' }}</span>
            <a href="javascript:void(0);" id="activity-prop-difficulty-edit" class="activity-property-edit"
               data-property-editor="#activity-prop-difficulty-editor">Edit</a>
        </p>
        <div class="activity-property-editor" id="activity-prop-difficulty-editor">
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="Unspecified"
                           value="{{ enum.level.Unspecified }}"
                            {{ activity ? ( enum.level.Unspecified== activity.difficulty.value ? 'checked' ) : 'checked' }} />
                    Unspecified
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="Very low"
                           value="{{ enum.level.VeryLow }}"
                            {{ activity ? ( enum.level.VeryLow== activity.difficulty.value ? 'checked' ) }} />
                    Very low
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="Low"
                           value="{{ enum.level.Low }}"
                            {{ activity ? ( enum.level.Low== activity.difficulty.value ? 'checked' ) }} />
                    Low
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="Medium"
                           value="{{ enum.level.Medium }}"
                            {{ activity ? ( enum.level.Medium== activity.difficulty.value ? 'checked' ) }} />
                    Medium
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="High"
                           value="{{ enum.level.High }}"
                            {{ activity ? ( enum.level.High== activity.difficulty.value ? 'checked' ) }} />
                    High
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="Very high"
                           value="{{ enum.level.VeryHigh }}"
                            {{ activity ? ( enum.level.VeryHigh== activity.difficulty.value ? 'checked' ) }} />
                    Very high
                </label>
            </div>
            <input type="hidden" value="{{ activity ? activity.difficulty.value : enum.level.Unspecified }}"
                   id="activity-prop-difficulty"/>
            <button class="btn btn-default btn-sm activity-prop-ok" data-property-type="radio"
                    data-prop-editor="#activity-prop-difficulty-editor"
                    data-prop-radio="activity-prop-difficulty-radio"
                    data-prop-label="#activity-prop-difficulty-label"
                    data-prop-field="#activity-prop-difficulty"
                    data-property-edit="#activity-prop-difficulty-edit">OK
            </button>
            <a href="javascript:void(0);" class="activity-property-cancel"
               data-property-editor="#activity-prop-difficulty-editor"
               data-property-edit="#activity-prop-difficulty-edit">Cancel</a>
        </div>
        <p><span class="glyphicon glyphicon-eye-open"></span>Guidance:
                            <span class="activity-property editable" id="activity-prop-guidance-label">
                                {{ activity ? levels[activity.guidance.value] : 'Unspecified' }}</span>
            <a href="javascript:void(0);" id="activity-prop-guidance-edit"
               class="activity-property-edit" data-property-editor="#activity-prop-guidance-editor">
                Edit</a>
        </p>
        <div class="activity-property-editor" id="activity-prop-guidance-editor">
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="Unspecified"
                           value="{{ enum.level.Unspecified }}"
                            {{ activity ? ( enum.level.Unspecified== activity.guidance.value ? 'checked' ) : 'checked' }} />
                    Unspecified
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="Very low"
                           value="{{ enum.level.VeryLow }}"
                            {{ activity ? ( enum.level.VeryLow== activity.guidance.value ? 'checked' ) }} />
                    Very low
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="Low"
                           value="{{ enum.level.Low }}"
                            {{ activity ? ( enum.level.Low== activity.guidance.value ? 'checked' ) }} />
                    Low
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="Medium"
                           value="{{ enum.level.Medium }}"
                            {{ activity ? ( enum.level.Medium== activity.guidance.value ? 'checked' ) }} />
                    Medium
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="High"
                           value="{{ enum.level.High }}"
                            {{ activity ? ( enum.level.High== activity.guidance.value ? 'checked' ) }} />
                    High
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="Very high"
                           value="{{ enum.level.VeryHigh }}"
                            {{ activity ? ( enum.level.VeryHigh== activity.guidance.value ? 'checked' ) }} />
                    Very high
                </label>
            </div>
            <input type="hidden" value="{{ activity ? activity.guidance.value : enum.level.Unspecified }}"
                   id="activity-prop-guidance"/>
            <button class="btn btn-default btn-sm activity-prop-ok" data-property-type="radio"
                    data-prop-editor="#activity-prop-guidance-editor"
                    data-prop-radio="activity-prop-guidance-radio"
                    data-prop-label="#activity-prop-guidance-label"
                    data-prop-field="#activity-prop-guidance"
                    data-property-edit="#activity-prop-guidance-edit">
                OK
            </button>
            <a href="javascript:void(0);" class="activity-property-cancel"
               data-property-editor="#activity-prop-guidance-editor"
               data-property-edit="#activity-prop-guidance-edit">Cancel</a></div>
        <p><span class="glyphicon glyphicon-heart"></span>Motivation:
                            <span class="activity-property editable" id="activity-prop-motivation-label">
                                {{ activity ? levels[activity.motivation.value] : 'Unspecified' }}</span>
            <a href="javascript:void(0);" id="activity-prop-motivation-edit"
               class="activity-property-edit" data-property-editor="#activity-prop-motivation-editor">
                Edit</a></p>
        <div class="activity-property-editor" id="activity-prop-motivation-editor">
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="Unspecified"
                           value="{{ enum.level.Unspecified }}"
                            {{ activity ? ( enum.level.Unspecified== activity.motivation.value ? 'checked' ) : 'checked' }} />
                    Unspecified
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="Very low"
                           value="{{ enum.level.VeryLow }}"
                            {{ activity ? ( enum.level.VeryLow== activity.motivation.value ? 'checked' ) }} />
                    Very low
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="Low"
                           value="{{ enum.level.Low }}"
                            {{ activity ? ( enum.level.Low== activity.motivation.value ? 'checked' ) }} />
                    Low
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="Medium"
                           value="{{ enum.level.Medium }}"
                            {{ activity ? ( enum.level.Medium== activity.motivation.value ? 'checked' ) }} />
                    Medium
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="High"
                           value="{{ enum.level.High }}"
                            {{ activity ? ( enum.level.High== activity.motivation.value ? 'checked' ) }} />
                    High
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="Very high"
                           value="{{ enum.level.VeryHigh }}"
                            {{ activity ? ( enum.level.VeryHigh== activity.motivation.value ? 'checked' ) }} />
                    Very high
                </label>
            </div>
            <input type="hidden" value="{{ activity ? activity.motivation.value : enum.level.Unspecified }}"
                   id="activity-prop-motivation"/>
            <button class="btn btn-default btn-sm activity-prop-ok" data-property-type="radio"
                    data-prop-editor="#activity-prop-motivation-editor"
                    data-prop-radio="activity-prop-motivation-radio"
                    data-prop-label="#activity-prop-motivation-label"
                    data-prop-field="#activity-prop-motivation"
                    data-property-edit="#activity-prop-motivation-edit">
                OK
            </button>
            <a href="javascript:void(0);" class="activity-property-cancel"
               data-property-edit="#activity-prop-motivation-edit"
               data-property-editor="#activity-prop-motivation-editor">
                Cancel
            </a>
        </div>
        <p><span class="glyphicon glyphicon-time"></span>Duration:
                            <span class="activity-property uneditable" id="activity-prop-duration-label">
                                <?php Format::int2Time($activity->getDuration()); ?></span></p>
        <p><span class="glyphicon glyphicon-euro"></span>Budget:
                            <span class="activity-property uneditable" id="activity-prop-budget-label">
                                Format::float2Euro($activity->getBudget()); ?></span></p>
    </div>
</div>