<div class="sidebar-item">
    <h3 class="sidebar-title">
        {% trans "Properties" %}
    </h3>
    {% set levels = {0: 'Unspecified',
    1: 'Very low',
    2: 'Low',
    3: 'Medium',
    4: 'High',
    5: 'Very high'} %}
    {% set activityCategoriesNamed = [] %}
    {% set activityCategories = [] %}
    <div class="sidebar-content">
        <p>
            <span class="glyphicon glyphicon-inbox"></span>{% trans "Category" %}:
                <span class="activity-property editable" id="activity-prop-category-label">
                    {% if activity is defined %}
                        {% for category in activity.categories %}
                            {% set activityCategoriesNamed = activityCategoriesNamed|merge(category.name|e) %}
                            {% set activityCategories = activityCategories|merge(category.id) %}
                        {% endfor %}
                        {{ activityCategoriesNamed|join(', ') }}
                    {% else %}
                        {% trans "No category" %}
                    {% endif %}
                </span>
            <a href="javascript:void(0);" id="activity-prop-category-edit" class="activity-property-edit"
               data-property-editor="#activity-prop-category-editor">{% trans "Edit" %}</a>
        </p>
        <div class="activity-property-editor" id="activity-prop-category-editor">
            {% for category in session.user.team.organization.categories %}
                <div class="check">
                    <label>
                        <input type="checkbox" name="activity-prop-category-radio"
                               data-prop-text="{{ category.name|e }}"
                               value="{{ category.id }}"
                                {{ activity ? ( category in activity.categories ? 'checked' ) }} >
                        {{ category.name }}
                    </label>
                </div>
            {% endfor %}
            <input type="hidden" value="{{ activityCategories|join(',') }}" id="activity-prop-category"/>
            <button class="btn btn-default btn-sm activity-prop-ok" data-property-type="radio"
                    data-prop-editor="#activity-prop-category-editor" data-prop-radio="activity-prop-category-radio"
                    data-prop-label="#activity-prop-category-label" data-prop-field="#activity-prop-category"
                    data-property-edit="#activity-prop-category-edit">{% trans "OK" %}
            </button>
            <a href="javascript:void(0);" class="activity-property-cancel"
               data-property-editor="#activity-prop-category-editor"
               data-property-edit="#activity-prop-category-edit">{% trans "Cancel" %}</a>
        </div>
        <p>
            <span class="glyphicon glyphicon-flash"></span>{% trans "Difficulty" %}:
                            <span class="activity-property editable" id="activity-prop-difficulty-label">
                                {{ activity ? levels[activity.difficulty.value]|trans : 'Unspecified'|trans }}</span>
            <a href="javascript:void(0);" id="activity-prop-difficulty-edit" class="activity-property-edit"
               data-property-editor="#activity-prop-difficulty-editor">{% trans "Edit" %}</a>
        </p>
        <div class="activity-property-editor" id="activity-prop-difficulty-editor">
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="{% trans 'Unspecified' %}"
                           value="{{ enum.level.Unspecified }}"
                            {{ activity ? ( enum.level.Unspecified == activity.difficulty.value ? 'checked' ) : 'checked' }} />
                    {% trans "Unspecified" %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="{% trans 'Very low' %}"
                           value="{{ enum.level.VeryLow }}"
                            {{ activity ? ( enum.level.VeryLow == activity.difficulty.value ? 'checked' ) }} />
                    {% trans 'Very low' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="{% trans 'Low' %}"
                           value="{{ enum.level.Low }}"
                            {{ activity ? ( enum.level.Low == activity.difficulty.value ? 'checked' ) }} />
                    {% trans 'Low' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="{% trans 'Medium' %}"
                           value="{{ enum.level.Medium }}"
                            {{ activity ? ( enum.level.Medium == activity.difficulty.value ? 'checked' ) }} />
                    {% trans 'Medium' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="{% trans 'High' %}"
                           value="{{ enum.level.High }}"
                            {{ activity ? ( enum.level.High == activity.difficulty.value ? 'checked' ) }} />
                    {% trans 'High' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-difficulty-radio" data-prop-text="{% trans 'Very high' %}"
                           value="{{ enum.level.VeryHigh }}"
                            {{ activity ? ( enum.level.VeryHigh == activity.difficulty.value ? 'checked' ) }} />
                    {% trans 'Very high' %}
                </label>
            </div>
            <input type="hidden" value="{{ activity ? activity.difficulty.value : enum.level.Unspecified }}"
                   id="activity-prop-difficulty"/>
            <button class="btn btn-default btn-sm activity-prop-ok" data-property-type="radio"
                    data-prop-editor="#activity-prop-difficulty-editor"
                    data-prop-radio="activity-prop-difficulty-radio"
                    data-prop-label="#activity-prop-difficulty-label"
                    data-prop-field="#activity-prop-difficulty"
                    data-property-edit="#activity-prop-difficulty-edit">{% trans "OK" %}
            </button>
            <a href="javascript:void(0);" class="activity-property-cancel"
               data-property-editor="#activity-prop-difficulty-editor"
               data-property-edit="#activity-prop-difficulty-edit">{% trans "Cancel" %}</a>
        </div>
        <p><span class="glyphicon glyphicon-eye-open"></span>{% trans "Guidance" %}:
            <span class="activity-property editable" id="activity-prop-guidance-label">
                {{ activity ? levels[activity.guidance.value]|trans : 'Unspecified'|trans }}</span>
            <a href="javascript:void(0);" id="activity-prop-guidance-edit"
               class="activity-property-edit" data-property-editor="#activity-prop-guidance-editor">
                {% trans 'Edit' %}</a>
        </p>
        <div class="activity-property-editor" id="activity-prop-guidance-editor">
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="{% trans 'Unspecified' %}"
                           value="{{ enum.level.Unspecified }}"
                            {{ activity ? ( enum.level.Unspecified == activity.guidance.value ? 'checked' ) : 'checked' }} />
                    {% trans 'Unspecified' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="{% trans 'Very low' %}"
                           value="{{ enum.level.VeryLow }}"
                            {{ activity ? ( enum.level.VeryLow == activity.guidance.value ? 'checked' ) }} />
                    {% trans 'Very low' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="{% trans 'Low' %}"
                           value="{{ enum.level.Low }}"
                            {{ activity ? ( enum.level.Low == activity.guidance.value ? 'checked' ) }} />
                    {% trans 'Low' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="{% trans 'Medium' %}"
                           value="{{ enum.level.Medium }}"
                            {{ activity ? ( enum.level.Medium == activity.guidance.value ? 'checked' ) }} />
                    {% trans 'Medium' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="{% trans 'High' %}"
                           value="{{ enum.level.High }}"
                            {{ activity ? ( enum.level.High == activity.guidance.value ? 'checked' ) }} />
                    {% trans 'High' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-guidance-radio" data-prop-text="{% trans 'Very high' %}"
                           value="{{ enum.level.VeryHigh }}"
                            {{ activity ? ( enum.level.VeryHigh == activity.guidance.value ? 'checked' ) }} />
                    {% trans 'Very high' %}
                </label>
            </div>
            <input type="hidden" value="{{ activity ? activity.guidance.value : enum.level.Unspecified }}"
                   id="activity-prop-guidance"/>
            <button class="btn btn-default btn-sm activity-prop-ok" data-property-type="radio"
                    data-prop-editor="#activity-prop-guidance-editor"
                    data-prop-radio="activity-prop-guidance-radio"
                    data-prop-label="#activity-prop-guidance-label"
                    data-prop-field="#activity-prop-guidance"
                    data-property-edit="#activity-prop-guidance-edit">
                {% trans "OK" %}
            </button>
            <a href="javascript:void(0);" class="activity-property-cancel"
               data-property-editor="#activity-prop-guidance-editor"
               data-property-edit="#activity-prop-guidance-edit">{% trans "Cancel" %}</a></div>
        <p><span class="glyphicon glyphicon-heart"></span>{% trans "Motivation" %}:
            <span class="activity-property editable" id="activity-prop-motivation-label">
                {{ activity ? levels[activity.motivation.value]|trans : 'Unspecified'|trans }}</span>
            <a href="javascript:void(0);" id="activity-prop-motivation-edit"
               class="activity-property-edit" data-property-editor="#activity-prop-motivation-editor">
                {% trans 'Edit' %}</a></p>
        <div class="activity-property-editor" id="activity-prop-motivation-editor">
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="{% trans 'Unspecified' %}"
                           value="{{ enum.level.Unspecified }}"
                            {{ activity ? ( enum.level.Unspecified == activity.motivation.value ? 'checked' ) : 'checked' }} />
                    {% trans 'Unspecified' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="{% trans 'Very low' %}"
                           value="{{ enum.level.VeryLow }}"
                            {{ activity ? ( enum.level.VeryLow == activity.motivation.value ? 'checked' ) }} />
                    {% trans 'Very low' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="{% trans 'Low' %}"
                           value="{{ enum.level.Low }}"
                            {{ activity ? ( enum.level.Low == activity.motivation.value ? 'checked' ) }} />
                    {% trans 'Low' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="{% trans 'Medium' %}"
                           value="{{ enum.level.Medium }}"
                            {{ activity ? ( enum.level.Medium == activity.motivation.value ? 'checked' ) }} />
                    {% trans 'Medium' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="{% trans 'High' %}"
                           value="{{ enum.level.High }}"
                            {{ activity ? ( enum.level.High == activity.motivation.value ? 'checked' ) }} />
                    {% trans 'High' %}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="activity-prop-motivation-radio" data-prop-text="{% trans 'Very high' %}"
                           value="{{ enum.level.VeryHigh }}"
                            {{ activity ? ( enum.level.VeryHigh == activity.motivation.value ? 'checked' ) }} />
                    {% trans 'Very high' %}
                </label>
            </div>
            <input type="hidden" value="{{ activity ? activity.motivation.value : enum.level.Unspecified }}"
                   id="activity-prop-motivation"/>
            <button class="btn btn-default btn-sm activity-prop-ok" data-property-type="radio"
                    data-prop-editor="#activity-prop-motivation-editor"
                    data-prop-radio="activity-prop-motivation-radio"
                    data-prop-label="#activity-prop-motivation-label"
                    data-prop-field="#activity-prop-motivation"
                    data-property-edit="#activity-prop-motivation-edit">
                {% trans "OK" %}
            </button>
            <a href="javascript:void(0);" class="activity-property-cancel"
               data-property-edit="#activity-prop-motivation-edit"
               data-property-editor="#activity-prop-motivation-editor">
                {% trans "Cancel" %}
            </a>
        </div>
        <p><span class="glyphicon glyphicon-user"></span>{% trans "Group size" %}:
            <span class="activity-property editable" id="activity-prop-groupsize-label">
                {% if activity is defined %}
                    {% if activity.groupSizeMin is null %}
                        {{ "Unspecified"|trans }}
                    {% else %}
                        {% if activity.groupSizeMax is null %}
                            {{ activity.groupSizeMin }} {{ "or more participants"|trans }}
                        {% else %}
                            {{ activity.groupSizeMin }} - {{ activity.groupSizeMax }}
                            {{ "participants"|trans }}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {{ "Unspecified"|trans }}
                {% endif %}
            </span>
            <a href="javascript:void(0);" id="activity-prop-groupsize-edit"
               class="activity-property-edit" data-property-editor="#activity-prop-groupsize-editor">
                {% trans 'Edit' %}</a></p>
        <div class="activity-property-editor" id="activity-prop-groupsize-editor">
            <div>
                <label class="checkbox-inline">
                    <input type="checkbox" id="groupsize-unknown"
                        {{ activity ? (activity.groupSizeMin ? : "checked") : "checked" }} />
                    {{ "Unspecified"|trans }}
                </label>
            </div>
            <div class="row">
                <label for="groupsize-minimum" class="col-xs-4 col-md-5">{{ "Minimum"|trans }}:</label>
                <input type="number" min="1" id="groupsize-minimum" class="col-xs-4"
                    value="{{ activity ? activity.groupSizeMin : "" }}"
                    {{ activity ? (activity.groupSizeMin ? : "disabled") : "disabled" }} />
            </div>
            <div class="row">
                <label for="groupsize-maximum" class="col-xs-4 col-md-5">{{ "Maximum"|trans }}:</label>
                <input type="number" min="1" id="groupsize-maximum" class="col-xs-4"
                    value="{{ activity ? activity.groupSizeMax : "" }}"
                    {% if activity is not defined %}
                        disabled
                    {% else %}
                        {% if activity.groupSizeMin is null %}
                            disabled
                        {% elseif activity.groupSizeMax is null %}
                            disabled
                        {% endif %}
                    {% endif %}
                />
                <label class="checkbox-inline col-xs-7 pull-right">
                    <input type="checkbox" id="groupsize-no-maximum"
                        {% if activity is not defined %}
                            disabled
                        {% else %}
                            {% if activity.groupSizeMin is null %}
                                disabled
                            {% elseif activity.groupSizeMax is null %}
                                checked
                            {% endif %}
                        {% endif %}
                    />
                    {{ "No maximum"|trans }}
                </label>
            </div>
            <input type="hidden" value="{{ activity ? activity.groupSizeMin }}"
                   id="activity-prop-groupsize-min"/>
            <input type="hidden" value="{{ activity ? activity.groupSizeMax }}"
                   id="activity-prop-groupsize-max"/>
            <button class="btn btn-default btn-sm activity-prop-ok-groupsize" data-property-type="radio"
                    data-prop-editor="#activity-prop-groupsize-editor"
                    data-prop-label="#activity-prop-groupsize-label"
                    data-property-edit="#activity-prop-groupsize-edit">
                {% trans "OK" %}
            </button>
            <a href="javascript:void(0);" class="activity-property-cancel"
               data-property-edit="#activity-prop-groupsize-edit"
               data-property-editor="#activity-prop-groupsize-editor">
                {% trans "Cancel" %}
            </a>
        </div>

        <p><span class="glyphicon glyphicon-time"></span>{% trans "Duration" %}:
                            <span class="activity-property uneditable" id="activity-prop-duration-label"></span></p>
        <p><span class="glyphicon glyphicon-euro"></span>{% trans "Budget" %}:
                            <span class="activity-property uneditable" id="activity-prop-budget-label"></span></p>
    </div>
</div>