<div class="sidebar-item">
    <h3 class="sidebar-title" id="suitablegroups">
        Suitable groups
    </h3>
    <div class="sidebar-content">
        <ul class="badge-selectors line-1">
            {% set groupType = enum.groupType %}
            <li>
                <label>
                    <input type="checkbox" value="{{ groupType.Bevers }}"
                           name="suitable-group-badge-selectors"
                           {{ activity ? ( groupType.Bevers in activity.suitableGroupsRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/scouting-groups/bevers.png" class="badge-selectors-img" />
                    Bevers
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ groupType.Welpen }}"
                           name="suitable-group-badge-selectors"
                           {{ activity ? ( groupType.Welpen in activity.suitableGroupsRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/scouting-groups/welpen.png" class="badge-selectors-img" />
                    Welpen
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ groupType.Scouts }}"
                           name="suitable-group-badge-selectors"
                           {{ activity ? ( groupType.Scouts in activity.suitableGroupsRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/scouting-groups/scouts.png" class="badge-selectors-img" />
                    Scouts
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ groupType.Explorers }}"
                           name="suitable-group-badge-selectors"
                           {{ activity ? ( groupType.Explorers in activity.suitableGroupsRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/scouting-groups/explorers.png" class="badge-selectors-img" />
                    Explorers
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ groupType.Roverscouts }}"
                           name="suitable-group-badge-selectors"
                           {{ activity ? ( groupType.Roverscouts in activity.suitableGroupsRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/scouting-groups/roverscouts.png" class="badge-selectors-img" />
                    Roverscouts
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" value="{{ groupType.Plusscouts }}"
                           name="suitable-group-badge-selectors"
                           {{ activity ? ( groupType.Plusscouts in activity.suitableGroupsRaw ? 'checked' ) }} />
                    <img src="{{ assetsUrl }}/img/scouting-groups/plusscouts.png" class="badge-selectors-img" />
                    Plusscouts
                </label>
            </li>
        </ul>
    </div>
</div><!-- /.sidebar-item -->