<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - {{ applicationName }}</title>
    {% block stylesheets %}
        {# Bootstrap #}
        <link href="{{ componentsUrl }}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{{ assetsUrl }}/css/bootstrap-flatly.min.css" rel="stylesheet" />
        <link href="{{ componentsUrl }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="{{ assetsUrl }}/css/style-screen.css" rel="stylesheet" />
        <link href="{{ assetsUrl }}/img/favicon.ico" rel="icon" />
    {% endblock %}
</head>

<body>
    {% block header %}
        {% include "partials/header.twig" %}
    {% endblock %}

    <div class="container content">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        {% include "partials/footer.twig" %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ componentsUrl }}/jquery/dist/jquery.min.js"></script>
        <script src="{{ componentsUrl }}/bootstrap/dist/js/bootstrap.min.js"></script>

        <script type="application/javascript">
            var assetsUrl = "{{ assetsUrl }}";
            var componentsUrl = "{{ componentsUrl }}";
            var baseUrl = "{{ baseUrl }}";
            var authToken = "{{ authToken }}";
        </script>

        <script src="{{ baseUrl }}/js/translator.js?locale={{ "en"|trans }}"></script>
    {% endblock %}
</body>
</html>
